:root
  h1,
  body,
  header,
  footer {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: row;
  background-color: navy;
  padding: 10px;
  font-size: 16px;
  color: white;
  margin:0 0 50px 0;
}

a{
  display: flex;
  justify-content: right;
  color: white;
  gap: 10px;
  text-decoration-line: none;
}

.menuTituloItem {
  gap: 80px;
  font-size: 12px;
  flex:row;
  display: inline;
  list-style-type:none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;

}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 5px;
}

.boxImagens {
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px;
  margin:40px 10px 10px 10px;
}

.boxInformacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxInformacaoCidade {
  color: black;
  font-size: 16px;
  margin:5px;
}

.botaoVisualizar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
}

.botaoVisualizar1 {
  background-color: red;
  color: white;
  border-radius: 8px;
  width: 100px;
}

.formulario {
  display: flex;
  display:block;
  text-align: center;
  padding:30px;
  margin-left:auto;
  margin-right: auto;
}

.formularioCampos {
  border-radius:6px;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 30px;
  gap: 5px;
  width: 210px;
  
}

.botaoProcurar {
  border-radius: 5px;
  background-color: red;
  width: 130px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 8px;
  background-color: navy;
  
}

.nomeAgencia {
  font-size: 16px;
  font-weight: bold;
}

.dadosAgencia {
  font-size: 10px;
}