:root{
  font-family: sans-serif;
}

h1 {
  font-family:'Roboto Slab', 'Noto Sans', 'Helvetica', sans-serif;
  color: #100aab;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
}

.tituloBox {
  display: flex;
  align-items: lef;
  justify-content: left;
  font-size: 12px;
  border-color: transparent;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #CAE8EB;
  padding: 18px;
  border:1px solid gray;
}

.camposDados {
  display: flex;
  flex-direction: row;
  font-family: 'Arial', 'Roboto Slab', 'Noto Sans', 'Helvetica', sans-serif;
  background-color: #CAE8EB;
  gap: 50px;
  padding:10px;

}

.camposDadosLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.camposDadosEntradas .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: left;
  width: 230px;
}
